@font-face {
  font-family: "iconfont";
  /* Project id 4691081 */
  src: url('//at.alicdn.com/t/c/font_4691081_vhxfckknadr.woff2?t=1726928627146') format('woff2'),
    url('//at.alicdn.com/t/c/font_4691081_vhxfckknadr.woff?t=1726928627146') format('woff'),
    url('//at.alicdn.com/t/c/font_4691081_vhxfckknadr.ttf?t=1726928627146') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouyeicom-09:before {
  content: "\e603";
}

.icon-tixian:before {
  content: "\e63f";
}

.icon-gerenshezhi:before {
  content: "\e633";
}

.icon-exit:before {
  content: "\e97f";
}

.icon-lianxidizhi:before {
  content: "\e601";
}

.icon-dengdaiqueren:before {
  content: "\e600";
}

.icon-pingjiadaiqueren:before {
  content: "\e695";
}

.icon-daijiedan:before {
  content: "\e605";
}

.icon-daifuwu:before {
  content: "\e628";
}