<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilhaha.yueyishou.order.mapper.OrderInfoMapper">

    <!-- 订单分页查询 -->
    <select id="queryPageList" resultType="com.ilhaha.yueyishou.model.vo.order.OrderMgrQueryVo">
        SELECT `order`.id            AS order_id,
               `order`.customer_location,
               `order`.appointment_time,
               `order`.actual_photos,
               `order`.unit_price,
               `order`.recycle_weigh,
               `order`.accept_time,
               `order`.arrive_time,
               `order`.status,
               `order`.cancel_message,
               `order`.cancel_time,
               `order`.service_overtime_penalty,
               `order`.customer_late_cancellation_fee,
               `order`.recycler_late_cancellation_fee,
               `order`.remark,
               `order`.order_contact_person,
               `order`.order_contact_phone,
               `order`.estimated_total_amount,
               `order`.expect_recycler_platform_amount,
               `order`.expect_customer_platform_amount,
               `order`.create_time,

               `recycler`.id         AS recycler_id,
               `recycler`.name       AS recycler_name,

               `category`.id         AS category_id,
               `category`.category_name,

               `bill`.id             AS bill_id,
               `bill`.real_order_recycle_amount,
               `bill`.real_recycler_amount,
               `bill`.real_recycler_platform_amount,
               `bill`.recycler_overtime_charges,
               `bill`.real_customer_recycle_amount,
               `bill`.real_customer_platform_amount,
               `bill`.recycler_coupon_amount,
               `bill`.customer_coupon_amount,
               `bill`.pay_time,

               `comment`.id          AS comment_id,
               `comment`.rate,
               `comment`.review_content,
               `comment`.create_time AS comment_time

        FROM order_info AS `order`
                 LEFT JOIN yueyishou_recycler.recycler_info AS `recycler`
                           ON `order`.recycler_id = `recycler`.id
                 LEFT JOIN yueyishou_category.category_info AS `category`
                           ON `order`.son_category_id = `category`.id
                 LEFT JOIN order_bill AS `bill`
                           ON `order`.id = `bill`.order_id
                 LEFT JOIN order_comment AS `comment`
                           ON `order`.id = `comment`.order_id
        <where>
            <if test="orderMgrQueryForm.status != null and orderMgrQueryForm.status != ''">
                AND `order`.status = #{orderMgrQueryForm.status}
            </if>

            <if test="orderMgrQueryForm.orderContactPerson != null and orderMgrQueryForm.orderContactPerson != ''">
                AND `order`.order_contact_person LIKE CONCAT('%', #{orderMgrQueryForm.orderContactPerson}, '%')
            </if>

            <if test="orderMgrQueryForm.appointmentTime != null and orderMgrQueryForm.appointmentTime != ''">
                AND `order`.appointment_time LIKE CONCAT('%', #{orderMgrQueryForm.appointmentTime}, '%')
            </if>

            <if test="orderMgrQueryForm.recyclerName != null and orderMgrQueryForm.recyclerName != ''">
                AND `recycler`.name LIKE CONCAT('%', #{orderMgrQueryForm.recyclerName}, '%')
            </if>
        </where>
    </select>

</mapper>